@charset "utf-8";
/* CSS Document */
.mainmenu{ font-size:12px;}
nav { width:100%; background:#0e4f87; z-index:1000; border-bottom:1px solid #1262a7;
	}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #0e4f87; 
	padding: 0 5px; 
	list-style: none;
	position: relative;
	display: inline-table;  z-index:1500; font-size:14px; border-right:#1262a7 1px solid;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left; z-index:1500; font-size:12px; border-left:#1262a7 1px solid;
	}
		nav ul li:hover {
			background: #4b545f;
		}
			nav ul li:hover a {
				color: #fff; text-decoration: none; font-size:12px;
			}
		
		nav ul li a {
			display: block; padding: 12px 7px;
			color: #fff; text-decoration: none; font-size:12px;
		}
			
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%; z-index:2000; width:230px;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 5px 15px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0; width:200px;
	}
